.step-js-sidebar {
  position: relative;
  --step-js-sidebar-panel-width: 15rem;
  --step-js-sidebar-closed-panel-width: 3rem;
}

.step-js-sidebar-panel {
  height: 100%;
}

.step-js-sidebar-content {
  height: 100%;
}

.step-js-sidebar-panel-wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--step-js-sidebar-panel-width);
  bottom: 0;
}

.step-js-sidebar-content-wrapper {
  position: absolute;
  left: var(--step-js-sidebar-closed-panel-width);
  top: 0;
  right: 0;
  bottom: 0;
}

.step-js-sidebar-content-wrapper > * {
  height: 100%;
}

.step-js-sidebar-content-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.step-js-sidebar.--panel-closed {
  .step-js-sidebar-panel-wrapper {
    width: var(--step-js-sidebar-closed-panel-width);
  }

  .step-js-sidebar-content-cover {
    display: none;
  }
}

.step-js-sidebar-left-sm {

}

.step-js-sidebar-left-md {

}

.step-js-sidebar-left-lg {

}
